.root {
  width: 100%;
  border-radius: 10px;
  gap: 11px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  margin-top: 24px;

  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 22px;
  padding-right: 27px;
  height: 49px;
  cursor: pointer;
}

.itemText {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  color: white;
}

.itemIcon {
  width: 9px;
  height: 16px;
}
