.contentImage {
  width: 100%;
  max-width: 100%;
  border: none;
  display: block;
  margin: 0 auto;
  height: 375px;
  object-fit: contain;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 16px;
}
