.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 88px);
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.listContainer {
  flex: 1;
  min-height: 0;
  margin: 24px 0;
}

.loadMoreButton {
  padding: 16px;
  margin: 16px;
  width: calc(100% - 32px);
}